---
dist: trusty
sudo: required
group: edge
services: docker
language: python
python: 3.6
env:
  - SCENERIO=archiveinterface
  - SCENERIO=core
  - SCENERIO=default
  - SCENERIO=in
  - SCENERIO=notify
  - SCENERIO=out
install: pip install ansible molecule==2.22 docker-py pre-commit pylint pep257
script: molecule test -s $SCENERIO
