---
{{ warning_msg }}
- name: Converge
  hosts: all
  pre_tasks:
    - include_tasks: ../common/pre-tasks.yml
  roles:
    - role: pacifica.ansible_pacifica
      pacifica_enabled_services:
        - archiveinterface
