---
{{ warning_msg }}
- name: Converge
  hosts: all
  vars:
    postgresql_ext_install_dev_headers: true
    postgresql_apt_dependencies: ["python3-psycopg2", "locales"]
    postgresql_version: 10
    postgresql_databases:
      - name: pacifica_metadata
        owner: pacifica
        encoding: utf8
      - name: pacifica_uniqueid
        owner: pacifica
        encoding: utf8
    postgresql_users:
      - name: pacifica
        pass: metadata
        password: metadata
  pre_tasks:
    - include_tasks: ../common/pre-tasks.yml
  roles:
    - role: rh7.postgresql
      when: |
        (
          ansible_os_family == 'RedHat' and
          ansible_distribution_major_version | int < 8
        ) or
        ansible_os_family == 'Debian'
    - role: rh8.postgresql
      when:
        - ansible_os_family == 'RedHat'
        - ansible_distribution_major_version | int >= 8
    - role: pacifica.ansible_pacifica
      environment:
        PATH: /usr/pgsql-10/bin:{% raw %}{{ ansible_env.PATH }}{% endraw %}
      pacifica_enabled_services:
        - metadata
        - policy
        - uniqueid
