---
{{ warning_msg }}
dependency:
  name: galaxy
  options:
    role-file: molecule/common/requirements.yml
    requirements-file: molecule/common/requirements.yml
driver:
  name: docker
lint: yamllint . && ansible-lint -x 106
platforms:
  - name: {{ scenario }}-{{ platform }}{{ platform_version }}
    image: geerlingguy/docker-{{ platform }}{{ platform_version }}-ansible:latest
    privileged: true
    capabilities:
      - SYS_ADMIN
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"{% if platform == 'ubuntu' %}
    command: /lib/systemd/systemd{% else %}
    command: /usr/lib/systemd/systemd{% endif %}
    pre_build_image: true
provisioner:
  name: ansible
  playbooks:
    verify: ../common/verify_plays/{{ scenario }}-verify.yml
verifier:
  name: ansible
