---
{{ warning_msg }}
- name: Converge
  hosts: all
  vars:
    postgresql_ext_install_dev_headers: true
    postgresql_apt_dependencies: ["python3-psycopg2", "locales"]
    postgresql_version: 10
    postgresql_databases:
      - name: pacifica_notifications
        owner: notifications
    postgresql_users:
      - name: notifications
        pass: notifications
        password: notifications
  pre_tasks:
    - include_tasks: ../common/pre-tasks.yml
  roles:
    - role: redis
      redis_travis_ci: true
    - role: rh7.postgresql
      when: |
        (
          ansible_os_family == 'RedHat' and
          ansible_distribution_major_version | int < 8
        ) or
        ansible_os_family == 'Debian'
    - role: rh8.postgresql
      when:
        - ansible_os_family == 'RedHat'
        - ansible_distribution_major_version | int >= 8
    - role: pacifica.ansible_pacifica
      environment:
        PATH: /usr/pgsql-10/bin:{% raw %}{{ ansible_env.PATH }}{% endraw %}
      pacifica_notify_config: &pacifica_notify_config
        celery:
          broker_url: redis://127.0.0.1:6379/0
        database:
          peewee_url: postgres://pacifica:pacifica@127.0.0.1:5432/pacifica_notify
      pacifica_available_services:
        notify_backend:
          ini_config: *pacifica_notify_config
        notify_frontend:
          ini_config: *pacifica_notify_config
      pacifica_enabled_services:
        - notify_frontend
        - notify_backend
